<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>steam</title>
  <link rel="stylesheet" href="reset.css" type="text/css">
  <link rel="stylesheet" href="css.css" type="text/css">
</head>
<body>
<div class="page-content">
  <!--头部导航-->
  <div class="global_header">
    <div class="banner">
      <div class="content clearfix">
        <!--logo-->
        <div class="log leftfix">
          <a href="https://store.steampowered.com/?snr=1_4_4__global-header" aria-label="Link to the Steam Homepage">
            <img src="https://store.st.dl.eccdnx.com/public/shared/images/header/logo_steam.svg?t=962016" width="176"
                 height="44" alt="Link to the Steam Homepage">
          </a>
        </div>
        <!--中间菜单-->
        <div class="nav-menu clearfix">
          <a href="#">STORE</a>
          <a href="#">COMMUNITY</a>
          <a href="#">PIS-LEO</a>
          <a href="#">CHAT</a>
          <a href="#">SUPPORT</a>
        </div>
        <!--右上角操作区-->
        <div class="action clearfix">

          <!--安装按钮-->
          <div class="install item">
            <a class="header_installsteam_btn header_installsteam_btn_gray"
               href="https://store.steampowered.com/about/?snr=1_4_4__global-header">
              <div class="header_installsteam_btn_content">
                Install Steam
              </div>
            </a>
          </div>

          <!--通知按钮-->
          <div class="notice item">
            <a href="#">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 36" fill="none" class="notice-icon">
              <g class="SVGIcon_Notification">
                <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M32 24V26H4V24L8 19V12C8 9.34784 9.05357 6.8043 10.9289 4.92893C12.8043 3.05357 15.3478 2 18 2C20.6522 2 23.1957 3.05357 25.0711 4.92893C26.9464 6.8043 28 9.34784 28 12V19L32 24Z"
                      fill="currentColor"></path>
                <path class="SVGIcon_Notification_Uvula" fill-rule="evenodd" clip-rule="evenodd"
                      d="M18 34C19.2396 33.9986 20.4483 33.6133 21.46 32.897C22.4718 32.1807 23.2368 31.1687 23.65 30H12.35C12.7632 31.1687 13.5282 32.1807 14.54 32.897C15.5517 33.6133 16.7604 33.9986 18 34Z"
                      fill="currentColor"></path>
              </g>
            </svg>
            </a>
          </div>

          <!--账户-->
          <div class="account item">
            <a href="#">
            Pis-Leo
            </a>
          </div>

          <!--头像-->
          <div class="avatar item">
            <img src="https://avatars.st.dl.eccdnx.com/596db650bcc73386538399dcbb332c941d56642b.jpg" alt="Pis-Leo">
          </div>
          <div class="balance">
            <a href="#">
            ¥ 0.00
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>


</body>
</html>
