<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>浮动练习</title>
  <style>
    .outer{

      background-color: gray;
      width: 600px;
      border: 1px solid black;
    }

    .box{
      background-color: skyblue;
      width: 200px;
      height: 200px;
      border: 1px solid black;
      margin: 10px;
      float: left;
    }

    .box1{
      height: 230px;
    }
  </style>
</head>
<body>
<div class="outer">
  <div class="box box1">1</div>
  <div class="box box2">2</div>
  <div class="box box3">3</div>
</div>

</body>
</html>
